.vscode/**
.vscode-test/**
src/**
scripts/**
.gitignore
.env
.yarnrc
webpack.config.js
vsc-extension-quickstart.md
**/tsconfig.*
**/.eslintrc
**/.eslintrc.*
**/.eslint
**/*.map
**/*.ts
**/.vscode-test.*
**/.eslintignore
**/commitlint.config.*
**/.husky
