.vscode/**
.vscode-test/**
out/**
src/**
.gitignore
.yarnrc
webpack.config.js
vsc-extension-quickstart.md
**/tsconfig.*
**/.eslintrc.*
**/*.map
**/*.ts
**/.vscode-test.*
**/.eslintignore
**/commitlint.config.*
**/.husky
